<div class='row'>
    <div class="mx-auto col-md-6">
        <div class="card card-body">
            <h3 class="text-center">User Account Registration</h3>
            <form action="/users/register" method="post">
                <div class='form-group'>
                    <label for='name'>Name</label>
                    <input value="{{name}}" name='name' class='form-control' type='text' required>
                </div>
                <div class='form-group'>
                    <label for='email'>Email</label>
                    <input value="{{email}}" name='email' class='form-control' type='email' required>
                </div>
                <div class='form-group'>
                    <label for='password'>Password</label>
                    <input value="{{password}}" name='password' class='form-control' type='password' required>
                </div>
                <div class='form-group'>
                    <label for='passwordConfirmation'>Confirm Password</label>
                    <input value="{{passwordConfirmation}}" name='passwordConfirmation' class='form-control' type='password' required>
                </div>
                <button class='btn btn-primary' type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>